body{
    background-color: black;
}
main{
    color: black;
    width: 1000px;
    margin: 0  auto;
}
form{
    color: aliceblue;
    background-color: rgb(47, 47, 54);
    border-radius: 20px;
    width: 500px;
    padding: 20px;
    margin: 80px auto;
}
.formulario{
}
form label{
    margin: 10px 0;;
    display: block;
    font-size: 20px;
    
}
.padrao{
    background-color: #ccc;
    display: block;
    margin: 0 0 30px;
    padding: 10px 0;
    width: 500px;
    border-radius: 10px;
    border: 1px solid black;
}
form textarea{
    height: 150px;

}
#botao{
    width: 200px;
    margin: 20px auto;
    display: block;
    padding: 15px;
    border-style: none;
    border-radius: 30px;
    background-color:#ccc
}
